# Binaries
*.exe
*.o

# Build artifacts
bin/
pkg/

# Dependencies (Go modules)
vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store

# Test cache
test-cache/

# Coverage files
*.out

# Temporary files
*~r
context.tar
build/